@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@layer utilities {
    .font-bold-28 {
      font-weight: bold;
      font-size: 28px;
      font-family: Mulish, Arial, sans-serif;
    }
  
    .font-bold-20 {
      font-weight: bold;
      font-size: 20px;
      font-family: Mulish, Arial, sans-serif;
    }
  
    .font-normal-20 {
      font-weight: normal;
      font-size: 20px;
      font-family: Mulish, Arial, sans-serif;
    }
    .font-normal-15 {
        font-weight: normal;
        font-size: 15px;
        font-family: Mulish, Arial, sans-serif;
      }
  }
  